@page "/events"
@using WebScheduler.BLL.Events.Queries.GetEventList;
@inject HttpClient Http
<h1>Events</h1>


@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in events)
            {
                <tr>
                    <td>@e.EventName</td>
                    <td>@e.StartEventDate</td>
                    <td>@e.EndEventDate</td>
                    <td>@e.ShortDescription</td>
                    <td>@e.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<EventLookupDto> events;

    protected override async Task OnInitializedAsync()
    {
        var entity = await Http.GetFromJsonAsync<EventListVm>("api/events");
        events = entity.Events;
    }
}
